*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "SUSE", sans-serif;
}

.BodyContainer{
    height: 100vh;
    width: 100%;
}

.corpo{
    width: 80%;
    margin: 0 auto;
}

.header{
    padding: 10px;
    text-align: center;

    h1{
        padding-bottom: 10px;
    }
}

.navbar{
    text-align: center;
    padding: 10px;

    select{
        margin-bottom: 10px;
    }

    input{
        margin-bottom: 10px;
    }
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.user-card img {
    width: 100%;
}
